<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <sessionState timeout="200" />
  </system.web>
<system.webServer>
<rewrite>
    <rules>
	<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
	<match url="(.*)" /> 
	<conditions> 
		<add input="{HTTPS}" pattern="off" ignoreCase="true" />
	</conditions> 
	<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
</rule>   
    </rules>
</rewrite>
</system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="MetroDBContext" connectionString="Data Source=184.168.194.77;Initial Catalog=Metro;User Id=Luckychild;password=Lamboghini610" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>